<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MsgMapper">
  <resultMap id="BaseResultMap" type="com.jkb.common.entity.Msg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sender" jdbcType="BIGINT" property="sender" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="retry" jdbcType="BIT" property="retry" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
</mapper>